/* Primary */
/* Desaturated Red: hsl(0, 36%, 70%)
Soft Red: hsl(0, 93%, 68%) */

/* Neutral
Dark Grayish Red: hsl(0, 6%, 24%) */

/* Gradients
Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.header {
    height: 100vh;
    background-image:  url(../images/bg-pattern-desktop.svg);
    background-size: contain;
}

.container {
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filter {
    background-image: linear-gradient(to right bottom, hsla(0, 0%, 100%, 0.685), hsla(0, 100%, 98%, 0.603) );
}

.boxes {
    /* border: 1px black solid; */
    /* margin: 20px; */
    padding: 20px;
    height: 95vh;
    /* color: orangered; */
}

.right {
    width: 35%;
    background-image: url(../images/hero-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.left {
    flex: 1;
}

.logo img {
    margin-left: 150px;
    margin-top: 5%;
}

.main {
    margin-left: 150px;
    margin-top: 10%;
    text-transform: uppercase;
    /* width: 45%; */
}

.bold {
    font-size: 80px;
    font-weight: 600;
    width: 50%;
}

.fancy {
    font-size: 70px;
    font-weight: 300;
    color: hsl(0, 36%, 70%);
}

p {
    margin-left: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 45%;
    color: hsl(0, 36%, 70%);
    line-height: 30px;
    /* letter-spacing: 1px; */
}

.email_box {
    margin-left: 150px;
    margin-top: 20px;
    width: 500px;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 25px;
    padding: 15px;
    position: relative;
    /* display: flow-root; */
}

.gradient_button {
    background-image: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    padding: 15px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #fff;
    box-shadow: 0 0 20px #eee;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    margin-top: 17px;
    left: 590px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
    position: absolute;
}